body{font-family: 'Hammersmith One', sans-serif;
    font-family: 'Poppins', sans-serif;}
.flex-container{display:flex;
        margin-bottom:100px;}
h1{font-size: 50px;
   margin-bottom:0;}
h2{margin-top:0;}
.word-color{color:gold;}
.half-width{width: 50%;
            padding-left:2%;}
.half-width img{width:100%;}
.link-button{text-decoration:none;
            background-image: linear-gradient(rgb(228, 25, 10), rgba(241, 28, 13, 0.863));
            padding:10px 20px;
            color:white;
            border-radius:5px;}
.link-button:hover{background-image:linear-gradient(mediumspringgreen,mediumseagreen);}
